body {
    background-image: url("welcome.png");
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

input, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
.featurette-image {
     
    
}

icon {
    width: 50px;
    height: 50px;
}

#Header {
    
}

h1 {
   
}

br {
  color: red;
}

select {
     padding-bottom: 100px;
    bottom: 3px;
}
